<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <title>STIKOM PGRI BANYUWANGI</title>
  </head>

  <body>
    <nav>
      <a href="main">Home</a>
      <a href="">Jurusan</a>
      <a href="">Kontak</a>
      <a href="">Tentang Kami</a>
    </nav>

    <hr />

    <header style="text-align: center">
      <img src="{{url_for('static',filename='img/logo.jpg')}}" width="300" height="300" style="border-radius: 50%" />
      <h1>STIKOM PGRI Banyuwangi</h1>
    </header>

    <hr />

    <article style="text-align: center">
      <h2>Tentang STIKOM</h2>
      <p>
        STIKOM PGRI Banyuwangi Mempunya 2 program studi <br />
        Teknik Informatika dan Manajemen Informatika Yang Memberikan <br />
        Bakal Mata Kuliah Pemograman Sbb :
      </p>
    </article>

    <div style="max-width: 600px; margin: 3em auto;">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kode</th>
                    <th>Prodi</th>
                    <th>Matkul</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                {% for row in container %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>
                        <img src="{{ url_for('static', filename='img/' + row[4]) }}" alt="Logo" width="50" height="50">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <hr />

    <footer style="text-align: center">
      <p>Copyright &copy; STIKOM PGRI Banyuwangi</p>
    </footer>
  </body>
</html>
